.main-section{
    background-color: chocolate;
    width: 550px;
    height: 600px;
    margin: 10px 20rem 10px 20rem;
    /* border: 5px solid green; */
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    max-width: 950px;
    min-width: 250px;
}

.main-section:hover{
    width: 550px;
    height: 600px;
    background-color: rosybrown;
    box-shadow: 5px 5px 1.5px greenyellow;
}

h1#main-heading{
    padding: 10px;
}

.header-article{
    background-color: coral;
    width: 400px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid springgreen;
    margin: 10px 67.5px;
}

.header-article:hover{
    background-color: royalblue;
    cursor: pointer;
    /* width: 500px; */
    /* height: 150px; */
    transition: 0.2ms;
    box-shadow: 5px 5px 1.5px red;
    border: 3.5px dashed springgreen;
}

.nav-article{
    background-color: sandybrown;
    width: 400px;
    padding: 5px;
    border-radius: 10px;
    border: 15px;
    margin: 10px 67.5px;
    border: 2px solid deepskyblue;
}

.nav-article:hover{
    background-color: rebeccapurple;
    cursor: pointer;
    /* width: 500px; */
    /* height: 150px; */
    transition: 0.2ms;
    box-shadow: 5px 5px 1.5px seagreen;
    border: 3.5px dashed deepskyblue;
}

.main-article{
    background-color: silver;
    width: 400px;
    padding: 5px;
    border-radius: 10px;
    border: 15px;
    margin: 10px 67.5px;
    border: 2px solid lemonchiffon;
}

.main-article:hover{
    background-color: olive;
    cursor: pointer;
    /* width: 500px; */
    /* height: 150px; */
    transition: 0.2ms;
    box-shadow: 5px 5px 1.5px slategrey;
    border: 3.5px dashed lemonchiffon;
}

footer{
    background-color: lightgrey;
    text-align: center;
    padding: 25px;
    margin: 4px;
    border: 2px;
}

footer#sec-footer{
    background-color: lightgrey;
    /* text-align: center; */
    padding: 10px;
    margin: 20px 8px;
    border-radius: 10px;
}

header{
    background-color: moccasin;
    padding: 10px;
    margin: 4px;
    text-align: center;
}

h1#parent-header{
    font-size: 40px;
    font-weight: 900;
}